source https://nuget.org/api/v2

nuget SourceLink.Fake
nuget FAKE ~> 4.64.13
nuget FSharp.Formatting

nuget FSharp.Core
nuget Microsoft.CrmSdk.CoreAssemblies >= 8
github fsharp/FAKE modules/Octokit/Octokit.fsx
