source https://nuget.org/api/v2

nuget SourceLink.Fake
nuget FAKE
nuget FSharp.Formatting 2.13.6

nuget FSharp.Core
nuget Microsoft.CrmSdk.CoreAssemblies >= 8
github fsharp/FAKE modules/Octokit/Octokit.fsx
