@import url(http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Gudea:400,700,400italic);

/*-------------------------------------------------------------------------- 
  Formatting for F# code snippets 
/*--------------------------------------------------------------------------*/

/* identifier */
span.i { color:#d1d1d1; }
/* string */
span.s { color:#d4b43c; }
/* keywords */
span.k { color:#4e98dc; }
/* comment */
span.c { color:#96C71D; }
/* operators */
span.o { color:#af75c1; }
/* numbers */
span.n { color:#96C71D; }
/* line number */
span.l { color:#80b0b0; }

/* inactive code */
span.inactive { color:#808080; }
/* preprocessor */
span.prep { color:#af75c1; }
/* fsi output */
span.fsi { color:#808080; }

/* omitted */
span.omitted { 
	background:#3c4e52;
  border-radius:5px;
	color:#808080;
	padding:0px 0px 1px 0px;
}
/* tool tip */
div.tip {
	background:#475b5f;
  border-radius:4px;
  font:11pt 'Droid Sans', arial, sans-serif;
	padding:6px 8px 6px 8px;
	display:none;
  color:#d1d1d1;
}
table.pre pre {
  padding:0px;
  margin:0px;
  border:none;
} 
table.pre, pre.fssnip, pre {
  line-height:13pt;
  border:1px solid #d8d8d8;
  border-collapse:separate;
  white-space:pre;
  font: 9pt 'Droid Sans Mono',consolas,monospace;
  width:90%;
  margin:10px 20px 20px 20px;
  background-color:#212d30;
  padding:10px;
  border-radius:5px;
  color:#d1d1d1;  
}
table.pre pre {
  padding:0px;
  margin:0px;
  border-radius:0px;
  width: 100%;
}
table.pre td {
  padding:0px;
  white-space:normal;
  margin:0px;
}
table.pre td.lines {
  width:30px;
}

code {
    color: blue;
}

/*-------------------------------------------------------------------------- 
  Formatting for page & standard document content
/*--------------------------------------------------------------------------*/

body {
  font-family: Gudea, serif;
  padding-top: 0px;
  padding-bottom: 40px;
}

table:not(.pre) {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

table:not(.pre) th {
  font-weight: bold;
  background-color: #373F4C;
  color: #ffffff;
}

table:not(.pre) th,
table:not(.pre) td {
  padding: 4px 10px;
  border: 1px solid #ddd;
}

table:not(.pre) tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

table:not(.pre) tr:nth-child(2n) {
  background-color: #f8f8f8;
}

table:not(.pre) th > p {
	margin: 6px !important;
	vertical-align: middle;
}

pre {
	word-wrap: inherit;
}

a, a:hover, a:visited
{
    text-decoration: none;
    color: #4dadf6;
}

a.hlink
{
	font-weight: bold;
	line-height: 150%;
	font-size: 32pt;
	font-weight: 400;
	text-decoration: none;
	vertical-align: middle;
	font-family: "Segoe UI Light", "Helvetica Neue", 'RobotoLight', "Segoe UI", "Segoe WP", sans-serif;
}

a.hlink:hover 
{
    color: white; 
    background: #4dadf6
}

ul.projects
{
	list-style-type: none;
	padding: 0;
	margin-top: 20px;
	margin-left: -20px;
	text-align: center;
	display: inline-block;
}

ul.projects li
{
	font-size: 12pt;
	padding: 20px;
	height: 6.4em;
}

ul.projects li + li
{
	border-top: thin dashed #4dadf6;
}

h1.headline
{
	text-align:center;
	padding: 20px;
	font-size: 40pt;
	font-weight: 400;
	border-bottom: thin solid black;
}

img.logo
{
	width: 100px; 
	height: 100px;
	margin-right: 10px;
	display: block;
	float: left;
}

img.code
{
	margin: 10px 20px 20px 20px;
}


/* Format the heading - nicer spacing etc. */
.masthead {
  background-color: #373F4C;
  overflow: hidden;
  margin-bottom: 2em;
  padding: 0.5em 2em;
  /* padding-left: 2em;*/
}

.masthead ul.nav {
  list-style-type: none;
  margin-bottom: 0px;
  margin-top: 1px;
  float: right;
}

.masthead .nav li {
  font-size:90%;
  float: left;
  margin-right: 20px;
  margin-top: 11px;
}

.masthead .nav li a {
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 1px;
  margin: -3px;
  display: inline-block;
  
  color: #222299;
}

.masthead .nav li a:hover {
  background: #4dadf6;
}

.masthead .site-logo img {
  width: 190px;
}

.credits {
  margin-top: 10px;
  margin-bottom: -25px;
  color: #BBBBBB;
  
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
  font-size: 80%;
}

.credits a {
  color: #777777;
}

hr {
  margin:0px 0px 20px 0px;
}

/* Make table headings and td.title bold */
td.title, thead {
  font-weight:bold;
}

/* Format the right-side menu */
#menu {
  margin-top:50px;
  font-size:11pt;
  padding-left:20px;
}

#menu .nav-header {
  font-size:12pt;
  color:#606060;
  margin-top:20px;
  text-transform: none;
}

#menu li {
  line-height:25px;
}

/* Change font sizes for headings etc. */
#main h1 { font-size: 28pt; margin:10px 0px 15px 0px; font-weight:400; }
#main h2 { font-size: 20pt; margin:20px 0px 0px 0px; font-weight:400; }
#main h3 { font-size: 14pt; margin:15px 0px 0px 0px; font-weight:400; }
#main p  { font-size: 12pt; margin:5px 0px 15px 0px; }
#main ul { font-size: 12pt; margin-top:10px; }
#main li { font-size: 12pt; margin: 5px 0px 5px 0px; }
#main strong { font-weight:700; }

/*-------------------------------------------------------------------------- 
  Formatting for API reference
/*--------------------------------------------------------------------------*/

.type-list .type-name, .module-list .module-name {
  width:25%;
  font-weight:bold;
}
.member-list .member-name {
  width:35%;
}
#main .xmldoc h2 {
  font-size:14pt;
  margin:10px 0px 0px 0px;
}
#main .xmldoc h3 {
  font-size:12pt;
  margin:10px 0px 0px 0px;
}
/*-------------------------------------------------------------------------- 
  Additional formatting for the homepage 
/*--------------------------------------------------------------------------*/

#nuget { 
  margin-top:20px;
  font-size: 11pt; 
  padding:20px; 
}

#nuget pre {
  font-size:11pt;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #404040;
  border-style:none;
  color: #e0e0e0;
  margin-top:15px;
}

/* Hide snippets on the home page snippet & nicely format table */
#hp-snippet td.lines {
  display: none;
}
#hp-snippet .table {
  width:80%;
  margin-left:30px;
}
