<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="EnvInfo.config">
    <add key="load" value="../../XdtData.json" />
    
    <add key="out" value="../../../../test/typings/XRM" />
    <add key="jsLib" value="../../../../test/lib" />
    <add key="rest" value="RestNs" />
    <add key="web" value="WebNs" />
    
    <add key="entities" value="account,contact"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="2.0.0.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="2.3.5.0" newVersion="4.3.0.0" />
        <bindingRedirect oldVersion="4.0.0.0" newVersion="4.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>