<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="EnvInfo.config">
    <add key="load" value="../../XdtData.json" />
    
    <add key="out" value="../../../../test/typings/XRM" />
    <add key="jsLib" value="../../../../test/lib" />
    <add key="rest" value="RestNs" />
    <add key="web" value="WebNs" />
    <add key="entities" value="account,contact,activitymimeattachment"/>
  </appSettings>
</configuration>